
@{
	ViewBag.Title = "OrderDetail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@using natural_medicine.Models;
@model List<VIEW_ORDER_DETAIL>

<div class="row" style="height: 100vh;">
	<div class="span12">
		<ul class="breadcrumb">
			<li><a href="/home/index">Trang chủ</a> <span class="divider">/</span></li>
			<li class="active">Chi tiết đơn hàng</li>
		</ul>
		<div class="well well-small">

			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th style="text-align:center">STT</th>
						<th style="text-align:center">Mã đơn</th>
						<th style="text-align:center">Ảnh SP</th>
						<th style="text-align:center">Tên SP</th>
						<th style="text-align:center">Đơn giá</th>
						<th style="text-align:center">Số lượng</th>

					</tr>
				</thead>
				<tbody>
					@{
						if (Model != null)
						{
							int i = 0;
							foreach (VIEW_ORDER_DETAIL it in Model)
							{
								i++;
								<tr>
									<td style="text-align:center; padding-top:30px;">@i</td>
									<td style="text-align:center; padding-top:30px;">@it.order_id</td>
									<td style="text-align:center"><img width="80" src="~/Content/assets/img/@it.image_url" alt=""></td>
									<td style="text-align:center; padding-top:30px;">@it.name</td>
									<td style="text-align:center; padding-top:30px;">@it.price đ </td>
									<td style="text-align:center; padding-top:30px;">@it.quantity</td>
								</tr>

							}
						}
						else
						{
							<tr>
								<td style="text-align:center;" colspan="7" class="alignR"><strong>ĐƠN HÀNG TRỐNG</strong></td>
							</tr>
						}
					}
				</tbody>
			</table>

		</div>
	</div>
</div>



