
@{
	ViewBag.Title = "ViewImportProduct";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@using PagedList.Mvc;
@model PagedList.IPagedList<natural_medicine.Models.VIEW_IMPORT_PRODUCT>

@{ 
	IEnumerable<natural_medicine.Models.product> product = ViewBag.product;
}

<div class="right__content">
	<div class="right__title">Bảng điều khiển</div>
	<p class="right__desc">Danh sách đơn hàng</p>
	<div class="container-filter-import">
		<form method="get" action="/admin/product/viewimportproduct">
			<div class="right__inputWrapper">
				<label for="title">Sản phẩm</label>
				<select name="product_id" id="selected-id">
					<option selected >Chọn sản phẩm</option>
					@foreach (natural_medicine.Models.product it in product)
					{
						<option value="@it.id">@it.name</option>
					}
				</select>
			</div>
			
			<div class="right__inputWrapper">
				<label for="title">Ngày bắt đầu</label>
				<input type="date" name="start_date" id="filter_start">
			</div>
			<div class="right__inputWrapper">
				<label for="desc">Ngày kết thúc</label>
				<input type="date" name="end_date" id="filter_end">
			</div>
			<div style="padding-top:20px;">
				<button style="width:100px;" class="btn" type="submit" id="filter-orders">Tìm kiếm</button>
			</div>
		</form>
	</div>
	<div class="right__table">
		<div class="right__tableWrapper">
			<table>
				<thead>
					<tr>
						<th>STT</th>
						<th>Sản phẩm</th>
						<th>Hình ảnh</th>
						<th>NCC</th>
						<th>Ngày Nhập</th>
						<th>Số Lượng</th>
						<th>Giá Nhập</th>
						<th>Ghi chú</th>
					</tr>
				</thead>

				<tbody>
					@{
						if (Model.Count != 0)
						{
							int i = 0;
							foreach (natural_medicine.Models.VIEW_IMPORT_PRODUCT it in Model)
							{
								i++;
								<tr>
									<td data-label="STT">@i</td>
									<td data-label="Tiêu đề">@it.product_name</td>
									<td data-label="Hình ảnh">
										<img src="~/Content/assets/img/@it.image_url" />
									</td>
									<td data-label="SĐT">@it.publisher_name</td>
									<td data-label="Mô tả">@it.create_at</td>
									<td data-label="Mô tả">@it.quantity</td>
									<td data-label="Mô tả">@it.price</td>
									<td data-label="Mô tả">@it.note</td>
								</tr>
							}
						}
						else
						{
							<tr>
								<td style="text-align:center;" colspan="8" class="alignR"><strong>DANH SÁCH ĐƠN HÀNG TRỐNG!</strong></td>
							</tr>
						}
					}
				</tbody>
			</table>
			Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
			@Html.PagedListPager(Model, page => Url.Action("viewimportproduct", new { page }))

		</div>
		
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$('[type="date"]').prop('max', function () {
			return new Date().toJSON().split('T')[0];
		});
	});
</script>