
@{
	ViewBag.Title = "Payment";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using natural_medicine.Models.CartModel;
@model Cart

@{
	List<natural_medicine.Models.address> listaddress = ViewBag.listaddress;
	List<natural_medicine.Models.payment_methods> payment_methods = ViewBag.payment_methods;
}

<body>
	<!--
	Body Section
	-->
	<div class="row">

		@{Html.RenderAction("_Slidebar", "Home");}

		<div class="span9">
			<ul class="breadcrumb">
				<li>
					<a href="/home/index">Trang chủ</a> <span class="divider">/</span>
				</li>
				<li>
					<a href="/cart/cart">Giỏ hàng</a> <span class="divider">/</span>
				</li>
				<li class="active">Đặt hàng</li>
			</ul>
			@{ int i = 0;
				int? sum = 0;
				foreach (CartItem it in Model.Lines)
				{
					i++;
					sum += it.quantity * it.product.price;
				}
			}

			<div class="well">
				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th style="text-align:center">Hình ảnh</th>
							<th style="text-align:center">Sản phẩm</th>
							<th style="text-align:center">Đơn giá</th>
							<th style="text-align:center">Số lượng</th>
							<th style="text-align:center">Thành tiền</th>
						</tr>
					</thead>
					<tbody>
						@foreach (CartItem it in Model.Lines)
						{
							<tr>
								<td style="text-align:center;"><img width="80" src="~/Content/assets/img/@it.product.image_url" alt=""></td>
								<td style="text-align:center; padding-top:30px;">@it.product.name</td>
								<td style="text-align:center; padding-top:30px;">@it.product.price đ</td>
								<td style="text-align:center; padding-top:30px;">@it.quantity</td>
								<td style="text-align:center; padding-top:30px;">@it.total đ</td>
							</tr>
						}
						<tr>
							<td style="text-align:center" colspan="4" class="alignR"><strong>TẠM TÍNH:	</strong></td>
							<td style="text-align:center; color:yellowgreen;"><strong id="subtotal"> đ</strong></td>
						</tr>
						<tr>
							<td style="text-align:center" colspan="4" class="alignR"><strong>GIẢM GIÁ: </strong></td>
							<td style="text-align:center; color:yellowgreen;"><strong style="text-decoration: line-through;" id="discount"> đ</strong></td>
						</tr>
						<tr>
							<td style="text-align:center" colspan="4" class="alignR"><strong>TỔNG TIỀN:	</strong></td>
							<td style="text-align:center; color:orangered;"><strong id="total"> đ</strong></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="well">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>
								<form class="form-inline">
									<label style="min-width:159px"> MÃ GIẢM GIÁ: </label>
									<input id="code" type="text" name="discount_code" class="" placeholder="NHẬP MÃ GIẢM GIÁ">
									<button type="button" class="shopBtn add-code"> THÊM</button>
									<span id="code-err" style="color: red;"><i class="icon-remove">  Mã giảm giá không hợp lệ!</i></span>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="well">

				<form class="form-horizontal" action="/cart/payment" method="POST">
					@{
						natural_medicine.Models.user user = ViewBag.account;

						<input type="hidden" name="user_id" value="@user.id" />

						<div class="control-group">
							<label class="control-label">
								KHÁCH HÀNG: <sup style="color: red"></sup>
							</label>
							<div class="controls">
								<input type="text" id="name" name="name" value="@user.name" readonly="readonly" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">SỐ ĐIỆN THOẠI <sup style="color: red"></sup></label>
							<div class="controls">
								<input type="text" name="phone" id="phone" value="@user.phone" readonly="readonly" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">
								ĐỊA CHỈ NHẬN HÀNG: <sup style="color: red"></sup>
							</label>
							<div class="controls">
								<select name="user_address_id" id="user_address_id">
									@foreach (natural_medicine.Models.address it in listaddress)
									{
										<option value="@it.id">@it.address1</option>
									}
								</select>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">
								HT THANH TOÁN: <sup style="color: red"></sup>
							</label>
							<div class="controls">
								<select name="payment_method_id" id="payment_method_id">
									@foreach (natural_medicine.Models.payment_methods it in payment_methods)
									{
										<option value="@it.id">@it.name</option>
									}
								</select>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">
								LỜI NHẮN <sup style="color: red"></sup>
							</label>
							<div class="controls">
								<textarea id="ghichu" name="note" placeholder="Yêu cầu..."></textarea>
								<span style="margin-left: 15px" id='message'></span>
							</div>
						</div>

						<input id="input-subtotal" type="hidden" name="subtotal" value="@sum" />
						<input id="input-discount" type="hidden" value="0" />
						<input id="input-code" type="hidden" name="discount_code" value="" />
						<input id="input-total" type="hidden" name="total" value="@sum" />

						<div class="control-group">
							<div class="controls">
								<input type="submit" name="submitAccount" value="Đặt hàng" class="exclusive shopBtn">
								<span style="margin-left: 15px" id='message'></span>
							</div>
						</div>
					}
				</form>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		$(document).ready(function () {

			$("#code-err").hide();
			var subtotal = $("#input-subtotal").val();
			$("#subtotal").html(subtotal + " đ");

			var discount = $("#input-discount").val();
			$("#discount").html(discount + " đ");

			var total = $("#input-total").val();
			$("#total").html(total + " đ");

			$(".add-code").click(function () {
				var dataForm = new Object();
				dataForm.code = $('#code').val();
				var serviceURL = '/cart/discount';
				$.ajax({
					url: serviceURL,
					type: "POST",
					data: JSON.stringify(dataForm),
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: successFunc,
					error: errorFunc
				});
				function successFunc(data) {
					if (data.success == "true") {
						$('.change-password').attr('disabled', 'disabled');
						var max_value = data.max_value;
						var value = data.value;
						var subtotal = $("#input-subtotal").val();
						var total = subtotal;
						var discount = subtotal * value;
						if (discount > max_value) {
							total = total - max_value;
							$("#discount").html(max_value + " đ");
						}
						else {
							total = total - discount;
							$("#discount").html(discount + " đ");
						}

						$("#subtotal").html(subtotal + " đ");
						$("#total").html(total + " đ");
						//set input
						$("#input-subtotal").val(subtotal);
						$("#input-total").val(total);
						$("#input-discount").val(discount);
						$("#input-code").val(data.code);
					} else {
						$("#code-err").show();
						setTimeout(function () { $("#code-err").hide(); }, 1000);
					}
				}
				function errorFunc() {
				}
			});
		});
	</script>
</body>



