@{
	ViewBag.Title = "Product";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using natural_medicine.Models;
@model List<product>

<style>
	#rating {
		border: none;
		float: left;
	}

	#rating > input {
		display: none;
	}
	/*ẩn input radio - vì chúng ta đã có label là GUI*/
	#rating > label:before {
		margin: 5px;
		font-size: 1.25em;
		font-family: FontAwesome;
		display: inline-block;
		content: "\f005";
	}
	/*1 ngôi sao*/
	#rating > .half:before {
		content: "\f089";
		position: absolute;
	}
	/*0.5 ngôi sao*/
	#rating > label {
		color: #ddd;
		float: right;
	}
	/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
	/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
	#rating > input:checked ~ label, #rating:not(:checked) > label:hover, #rating:not(:checked) > label:hover ~ label {
		color: #FFD700;
	}
		/* Hover vào các sao phía trước ngôi sao đã chọn*/
		#rating > input:checked + label:hover, #rating > input:checked ~ label:hover,
		#rating > label:hover ~ input:checked ~ label, #rating > input:checked ~ label:hover ~ label {
			color: #FFED85;
		}
</style>

@{
	product sanpham = ViewBag.SP;
	List<review> rate = ViewBag.rate;

}
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Natural Medicine Shop</h4>
			</div>
			<div class="modal-body">
				<p>Thêm sản phẩm thành công!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	@Html.Action("_Slidebar")
	<div class="span9">
		<ul class="breadcrumb">
			<li><a href="index.html">Trang chủ</a> <span class="divider">/</span></li>
			<li><a href="products.html">Sản phẩm</a> <span class="divider">/</span></li>
			<li class="active">Thông tin sản phẩm</li>
		</ul>
		<div class="well well-small">
			<div class="row-fluid">
				<div class="span5">
					<div id="myCarousel" class="carousel slide cntr">
						<div class="carousel-inner">
							<div class="item active">
								<a href="#"> <img src="~/Content/assets/img/@sanpham.image_url" alt="" style="width:100%"></a>
							</div>
							<div class="item">
								<a href="#"> <img src="~/Content/assets/img/@sanpham.image_url" alt="" style="width:100%"></a>
							</div>
							<div class="item">
								<a href="#"> <img src="~/Content/assets/img/@sanpham.image_url" alt="" style="width:100%"></a>
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
					</div>
				</div>
				<div class="span7">
					<h3>@sanpham.name [ @sanpham.price đ ]<span style="text-decoration: line-through; color: orange;"></span></h3>
					<hr class="soft" />

					<form class="form-horizontal qtyFrm">
						<h4>Sản phẩm chất lượng số 1</h4>
						<p>@sanpham.description <p>
						<h4><button class="shopBtn add-cart" title="THÊM VÀO GIỎ" name="@sanpham.id" data-toggle="modal" data-target="#myModal">THÊM VÀO GIỎ</button></h4>
					</form>
				</div>
			</div>
			<hr class="softn clr" />
			<ul id="productDetail" class="nav nav-tabs">
				<li class="active"><a href="#detail" data-toggle="tab"> THÔNG TIN SẢN PHẨM</a></li>
				<li class=""><a href="#samecategory" data-toggle="tab"> SẢN PHẨM LIÊN QUAN</a></li>
				<li class=""><a href="#danhgia" data-toggle="tab"> ĐÁNH GIÁ SẢN PHẨM</a></li>
			</ul>
			<div id="myTabContent" class="tab-content tabWrapper">
				<div class="tab-pane fade active in" id="detail">
					<h4>Thông tin sản phẩm</h4>
					<table class="table table-striped">
						<tbody>
							<tr class="techSpecRow"><td class="techSpecTD1">Tên sản phẩm:</td><td class="techSpecTD2">@sanpham.name</td></tr>
							<tr class="techSpecRow"><td class="techSpecTD1">Thành phần:</td><td class="techSpecTD2">@sanpham.ingredient</td></tr>
							<tr class="techSpecRow"><td class="techSpecTD1">Công dụng:</td><td class="techSpecTD2">@sanpham.uses</td></tr>
							<tr class="techSpecRow"><td class="techSpecTD1">Sử dụng:</td><td class="techSpecTD2">@sanpham.dosage</td></tr>
							<tr class="techSpecRow"><td class="techSpecTD1">Đơn vị:</td><td class="techSpecTD2">@sanpham.unit</td></tr>
							<tr class="techSpecRow"><td class="techSpecTD1">Nhà cung cấp:</td><td class="techSpecTD2"></td></tr>
						</tbody>
					</table>
					<p>@sanpham.description</p>

				</div>
				<div class="tab-pane fade" id="samecategory">
					@{
						foreach (product it in Model)
						{
							<div class="row-fluid">
								<div class="span2">
									<img src="~/Content/assets/img/@it.image_url" alt="">
								</div>
								<div class="span6">
									<h5>@it.name</h5>
								</div>
								<div class="span4 alignR">
									<form class="form-horizontal qtyFrm">
										<h3> @it.price đ</h3>
										<div class="btn-group">
											<h4><button class="defaultBtn add-cart" title="THÊM VÀO GIỎ" name="@it.id" data-toggle="modal" data-target="#myModal">THÊM VÀO GIỎ</button></h4>
											<a href="/home/product/@it.id" class="shopBtn">XEM</a>
										</div>
									</form>
								</div>
							</div>
							<hr class="soft">
						}
					}
				</div>
				<div class="tab-pane fade" id="danhgia">
					<div class="row-fluid">
						<div class="span4" id="div-rating">
							<div id="rating">
								<input type="radio" id="star5" name="rating" value="5" />
								<label class="full" for="star5" title="5 stars"></label>

								<input type="radio" id="star4" name="rating" value="4" />
								<label class="full" for="star4" title="4 stars"></label>

								<input type="radio" id="star3" name="rating" value="3" />
								<label class="full" for="star3" title="3 stars"></label>

								<input type="radio" id="star2" name="rating" value="2" />
								<label class="full" for="star2" title="2 stars"></label>

								<input type="radio" id="star1" name="rating" value="1" />
								<label class="full" for="star1" title="1 star"></label>
							</div>

							<form class="form-horizontal">
								<fieldset>
									<div class="control-group">
										<textarea rows="3" id="comment" class="input-xlarge"></textarea>
									</div>
									@{
										natural_medicine.Models.user auth = (natural_medicine.Models.user)Session["loginClient"];
										if (auth == null)
										{
											<button class="defaultBtn" data-toggle="modal" data-target="#PopUpLogin">
												ĐĂNG NHẬP ĐỂ ĐÁNH GIÁ <span class="icon-arrow-right"></span>
											</button>
										}
										else
										{
											<input type="hidden" id="user_id" value="@auth.id" />
											<input type="hidden" id="user_name" value="@auth.name" />
											<input type="hidden" id="product_id" value="@sanpham.id" />
											<button id="btn-rating" class="shopBtn" type="button">GỬI ĐÁNH GIÁ</button>
										}
									}
								</fieldset>
							</form>
						</div>
						<table class="table table-striped">
							<tbody>
								@foreach (review it in rate)
								{
									<tr class="techSpecRow">
										<td class="techSpecTD1">
											<div id="rating">
												<input type="radio" id="star-5-@it.id" name="rating-@it.id" value="5" disabled />
												<label class="full" for="star-5-@it.id" title="5 stars"></label>

												<input type="radio" id="star-4-@it.id" name="rating-@it.id" value="4" disabled />
												<label class="full" for="star-4-@it.id" title="4 stars"></label>

												<input type="radio" id="star-3-@it.id" name="rating-@it.id" value="3" disabled/>
												<label class="full" for="star-3-@it.id" title="3 stars"></label>

												<input type="radio" id="star-2-@it.id" name="rating-@it.id" value="2" disabled/>
												<label class="full" for="star-2-@it.id" title="2 stars"></label>

												<input type="radio" id="star-1-@it.id" name="rating-@it.id" value="1" disabled/>
												<label class="full" for="star-1-@it.id" title="1 star"></label>
												@if (it.rating > 0)
												{
													<script type="text/javascript">
													$('#star-@it.rating-@it.id').attr('checked', true);
													</script>
												}

											</div>
										</td>
										<td class="techSpecTD2" style="padding-top:13px;">@it.user_name</td>
									</tr>
									<tr class="techSpecRow">
										<td style="width:70%;" class="techSpecTD1">@it.comment</td>
										<td class="techSpecTD2"></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					<hr class="soft">
				</div>
			</div>
		</div>
	</div>
</div> <!-- Body wrapper -->

<script>
	$(document).ready(function () {
		
		$("#btn-rating").click(function () {
			var dataForm = new Object();
			dataForm.rating = $("input[name='rating']:checked").val();
			dataForm.user_id = $("#user_id").val();
			dataForm.user_name = $("#user_name").val();
			dataForm.comment = $("#comment").val();
			dataForm.product_id = $("#product_id").val();
			var serviceURL = '/home/rating';
			$.ajax({
				url: serviceURL,
				type: "POST",
				data: JSON.stringify(dataForm),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: successFunc,
				error: errorFunc
			});
			function successFunc(data) {
				if (data == "success") {
					alert("tc");
					$("#div-rating").hide();
				} else {
				}
			}
			function errorFunc() {
			}
		});
		//$('#star4').attr('checked', true);
		$(".add-cart").click(function () {
			var name = $(this).attr("name");
			var serviceURL = '/Cart/AddItem/' + name;
			$.ajax({
				url: serviceURL,
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: successFunc,
				error: errorFunc
			});
			function successFunc(data, status) {
				$("#myModal").show();
			}
			function errorFunc() {
				alert("Thêm sản phẩm thất bại!")
			}
		});
	});
</script>
