
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using natural_medicine.Models;
@model IEnumerable<VIEW_ORDER>

@{ 
	int ?count_customer = ViewBag.count_customer;
	int ?total_order = ViewBag.total_order;
	int ?count_order = ViewBag.count_order;
	int ?count_product = ViewBag.count_product;
	var this_month = ViewBag.this_month;
}
<div class="right__content">
	<div class="right__title">Bảng điều khiển</div>
	<p class="right__desc">Bảng điều khiển</p>
	<div class="right__cards">
		<a class="right__card" href="/admin/product/viewproduct">
			<div class="right__cardTitle">Sản Phẩm</div>
			<div class="right__cardNumber">@count_product</div>
			<div class="right__cardDesc">Xem Chi Tiết <img src="~/Content/admin/assets/arrow-right.svg" alt=""></div>
		</a>
		<a class="right__card" href="/admin/admin/viewcustomer">
			<div class="right__cardTitle">Khách Hàng</div>
			<div class="right__cardNumber">@count_customer</div>
			<div class="right__cardDesc">Xem Chi Tiết <img src="~/Content/admin/assets/arrow-right.svg" alt=""></div>
		</a>
		<a class="right__card" href="/admin/category/viewcategory">
			<div class="right__cardTitle">Doanh Thu @this_month</div>
			<div class="right__cardNumber">@total_order</div>
			<div class="right__cardDesc">Xem Chi Tiết <img src="~/Content/admin/assets/arrow-right.svg" alt=""></div>
		</a>
		<a class="right__card" href="/admin/orders/vieworder">
			<div class="right__cardTitle">Số Đơn Hàng @this_month</div> 
			<div class="right__cardNumber">@count_order</div>
			<div class="right__cardDesc">Xem Chi Tiết <img src="~/Content/admin/assets/arrow-right.svg" alt=""></div>
		</a>
	</div>
	<div class="right__table">
		<p class="right__tableTitle">Đơn hàng mới</p>
		<div class="right__tableWrapper">
			<table>
				<thead>
					<tr>
						<th>STT</th>
						<th>Khách hàng</th>
						<th>SĐT</th>
						<th>Địa chỉ</th>
						<th>Ngày</th>
						<th>Tổng tiền</th>
						<th>Trạng thái</th>
						<th>Chi tiết</th>
					</tr>
				</thead>
				<tbody>
					@{
						if (Model != null)
						{
							int i = 0;
							foreach (natural_medicine.Models.VIEW_ORDER it in Model)
							{
								i++;
								<tr>
									<td data-label="STT">@i</td>
									<td data-label="Tiêu đề">@it.name</td>
									<td data-label="SĐT">@it.phone</td>
									<td data-label="SĐT">@it.address</td>
									<td data-label="Mô tả">@it.create_at</td>
									<td data-label="Mô tả">@it.total</td>
									<td data-label="Mô tả">@it.status</td>
									<td data-label="Sửa" class="right__iconTable"><a href="/admin/orders/vieworder_detail/@it.id"><img src="~/Content/admin/assets/icon-edit.svg" alt=""></a></td>
								</tr>
							}
						}
						else
						{
							<tr>
								<td style="text-align:center;" colspan="7" class="alignR"><strong>DANH SÁCH ĐƠN HÀNG TRỐNG!</strong></td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
		<a href="/admin/orders/vieworder" class="right__tableMore"><p>Xem tất cả các đơn đặt hàng</p> <img src="~/Content/admin/assets/arrow-right-black.svg" alt=""></a>
	</div>
</div>

